.center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        gap: 20px;
    }

.page-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-height: 85vh;
    gap: 20px;
}

.block-title {
    font-size: 18pt;
    font-weight: bold;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "lato", sans-serif;
}

.left-panel-wrapper {
    width: 33%;
}

.right-panel-wrapper {
    width: 33%;
}

.content-wrapper {
    /*width: 250px;*/
    width: 33%;
    padding: 40px 30px;
}

body {
    font-family: "lato", sans-serif;
}

h1 {
    font-family: "lato", sans-serif;
    color: #CE5937;
}

#input {
    width: 300px;
    padding: 10px;
}

#result {
    margin-top: 10px;
}

#error {
    color: red;
    margin-top: 10px;
}

.result {
    margin-top: 10px;
}

.word-cloud {
    height: 8vh;
    margin: 0 auto;
}

.logo {
    width: 100%;
    position: absolute;
    font-family: "lato", sans-serif;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25pt;
}