.center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
            gap: 20px;
        }

.page-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-height: 85vh;
    gap: 20px;
}

.block-title {
    font-size: 18pt;
    font-weight: bold;
}

.left-panel-wrapper {
    width: 33%;
}

.right-panel-wrapper {
    width: 33%;
}

.content-wrapper {
    /*width: 250px;*/
    width: 33%;
    padding: 0 30px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Impact, sans-serif;
    color: #CE5937;
}

#input {
    width: 300px;
    padding: 10px;
}

#result {
    margin-top: 10px;
}

#error {
    color: red;
    margin-top: 10px;
}

#word-cloud {
    height: 10vh;
    width: 10vw;
    margin: 0 auto;
}

.result {
    margin-top: 10px;
}

.word-cloud {
    height: 10vh;
    width: 10vw;
    margin: 0 auto;
}