# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kek\my_voice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
